In [1]:
import pandas as pd

# Transactions

In [18]:
transactions_df = pd.read_parquet('../data/transactions.parquet')

:

In [ ]:
print(f'Rows qty: {len(transactions_df)}')

In [ ]:
transactions_df.columns

NameError: name 'transactions_df' is not defined

In [ ]:
transactions_df.head()

# Members

In [ ]:
members_df = pd.read_parquet(
    '../data/members.parquet'
)

In [11]:
print(f'Rows qty: {len(members_df)}')

Rows qty: 63867246

In [16]:
members_df.columns

Index(['msno', 'safra', 'registration_init_time', 'city', 'bd', 'gender',
       'registered_via', 'is_ativo'],
      dtype='object')

In [3]:
members_df.head()

,msno,safra,registration_init_time,city,bd,gender,registered_via,is_ativo
0,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,201612,20140927,1,0,None,7,1
1,++/AwGzubug3gT6J+0STBGMdWKxaM+UFZTI8Tcmq4To=,201607,20150322,1,0,None,9,0
2,++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=,201601,20121217,15,32,male,3,1
3,++02XbtviomSxcIBUHMOiJkjRxdicTXSfiVqLdsr5lo=,201603,20131112,14,21,male,7,0
4,++0O0Bq04sB/9ZcOS+pajpYL2Hin9jCqnc/8bKzKFuE=,201610,20141021,5,33,male,3,0

# User Logs

In [12]:
user_logs_df = pd.read_parquet('../data/user_logs.parquet')

In [13]:
print(f'Rows qty: {len(user_logs_df)}')

Rows qty: 26758971

In [15]:
user_logs_df.columns

Index(['msno', 'safra', 'num_25', 'num_50', 'num_75', 'num_985', 'num_100',
       'num_unq', 'total_secs'],
      dtype='object')

In [14]:
user_logs_df.head()

,msno,safra,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,SwlrSivYHoKF9V5wm1YYYAnjHpd9y3OPjI9rDUhGJ3k=,201701,121.0,28.0,14.0,29.0,704.0,827.0,184606.903
1,rE5wSmHEF1Dhu55zhkiGB1HvotdlSHcIMGXv6VcqO2A=,201605,26.0,2.0,5.0,6.0,462.0,256.0,119439.485
2,hx+cyaQ/Jcdr/Z5foa/Cn0PXUzC/F7QO/NQvWQS1Qtc=,201611,161.0,71.0,49.0,34.0,668.0,891.0,204791.242
3,53QW6B70J23X2UCvxaaUppjyE0b6X9nzP79W4huZv+Q=,201502,37.0,9.0,3.0,9.0,408.0,447.0,101186.041
4,/0S1N/oRyxGLZlzxnW5rOjfo0ZAls9EH23ahuDNuqz8=,201506,205.0,49.0,23.0,21.0,225.0,489.0,69957.524