In [1]:
%load_ext autoreload
%autoreload 2

In [8]:
from Utils.DataLoader import DataLoader
from Utils.DataAnalysis import DataAnalysis
from Utils.DataTransformer import DataTransformer
import pandas as pd
import matplotlib.pyplot as plt
from typing import List, Tuple
from Utils import PandasNotebookConfigs

In [9]:
DATA_LOADER = DataLoader()
DATA_ANALYSIS = DataAnalysis()
DATA_TRANSFORMER = DataTransformer()

PandasNotebookConfigs.config()

Ajustando display.float.format para %.2f

In [4]:
user_logs_df = DATA_LOADER.load_user_logs_df()

In [5]:
user_logs_df = user_logs_df[:10000].copy()

In [7]:
user_logs_df.head()

,msno,safra,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_hours
0,SwlrSivYHoKF9V5wm1YYYAnjHpd9y3OPjI9rDUhGJ3k=,201701,121,28,14,29,704,827,184606,51.28
1,rE5wSmHEF1Dhu55zhkiGB1HvotdlSHcIMGXv6VcqO2A=,201605,26,2,5,6,462,256,119439,33.18
2,hx+cyaQ/Jcdr/Z5foa/Cn0PXUzC/F7QO/NQvWQS1Qtc=,201611,161,71,49,34,668,891,204791,56.89
3,53QW6B70J23X2UCvxaaUppjyE0b6X9nzP79W4huZv+Q=,201502,37,9,3,9,408,447,101186,28.11
4,/0S1N/oRyxGLZlzxnW5rOjfo0ZAls9EH23ahuDNuqz8=,201506,205,49,23,21,225,489,69957,19.43

In [10]:
user_logs_df = DATA_TRANSFORMER.create_cost_column(user_logs_df)

In [11]:
user_logs_df.head()

,msno,safra,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_hours,cost
0,SwlrSivYHoKF9V5wm1YYYAnjHpd9y3OPjI9rDUhGJ3k=,201701,121,28,14,29,704,827,184606,51.28,72.68
1,rE5wSmHEF1Dhu55zhkiGB1HvotdlSHcIMGXv6VcqO2A=,201605,26,2,5,6,462,256,119439,33.18,63.25
2,hx+cyaQ/Jcdr/Z5foa/Cn0PXUzC/F7QO/NQvWQS1Qtc=,201611,161,71,49,34,668,891,204791,56.89,75.02
3,53QW6B70J23X2UCvxaaUppjyE0b6X9nzP79W4huZv+Q=,201502,37,9,3,9,408,447,101186,28.11,62.40
4,/0S1N/oRyxGLZlzxnW5rOjfo0ZAls9EH23ahuDNuqz8=,201506,205,49,23,21,225,489,69957,19.43,59.49

In [ ]:
copy_user_logs_df = user_logs_df.copy()
# result_df = []
for transactions_chunk in DATA_LOADER.load_transactions_df_in_chunks(chunksize=10_000):
    print(transactions_chunk[['msno', 'safra']])
    # result_df.append(
    #     pd.merge(
    #         copy_user_logs_df,
    #         transactions_chunk,
    #         on=['msno', 'safra'],
    #         suffixes=('_user_logs', '_transactions')
    #     )
    # )
    break

# final_merged_df = pd.concat(result_df, ignore_index=True)

                                              msno   safra
0     +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=  201511
1     +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  201505
2     +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=  201509
3     ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=  201606
4     ++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=  201501
...                                            ...     ...
9995  +rYwMM7PRVxglntIxBDV/l6Mby8T62EY8OtMzM2FmZ0=  201611
9996  +rZ0RHZlg7d8C/4UHAQFIVE3ZpUkJO4N7FsypVOjaBk=  201606
9997  +rZRFRtiy+Hs2Ftc3gM8KaUMw2iUX5UtCW923zRBVWY=  201606
9998  +rZRFRtiy+Hs2Ftc3gM8KaUMw2iUX5UtCW923zRBVWY=  201612
9999  +rZXZf8UMFb1VX06BTrzeVRF0GxoF5fNsn2jUe1ove8=  201611

[9996 rows x 2 columns]

Ler como Chunk!

In [ ]:
trans_df = DATA_LOADER.load_transactions_df()
print(trans_df)

In [ ]:
def merge_dataframes() -> pd.DataFrame:
    members_df = DATA_LOADER.load_members_df()
    transactions_df = DATA_LOADER.load_transactions_df()