In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from Utils.DataLoader import DataLoader
from Utils.DataTransformer import DataTransformer
from Utils.DuckDb.DuckDb import DuckDb
from Utils.DatasetProcessor.DatasetProcessorUtils import DatasetProcessorUtils
from datetime import datetime
import pandas as pd
from typing import List
from Utils import PandasNotebookConfigs
import project_config
import numpy as np
import matplotlib.pyplot as plt
import joblib
from datetime import datetime
from Utils.Datetime import DatetimeUtils

In [3]:
PandasNotebookConfigs.config()

Ajustando display.float.format para %.4f
Ajustando prints de linhas e colunas

In [4]:
DUCK_DB = DuckDb()
DATA_TRANSFORMER = DataTransformer()
DATA_PROCESSOR_UTILS = DatasetProcessorUtils(DUCK_DB)
DATETIME_UTILS = DatetimeUtils()

In [5]:
PRE_PREPARED_DATA_TABLE = project_config.PRE_PREPARED_DATA_TABLE
PREDICTED_DATA_TABLE = f'predicted_dataset_{DATETIME_UTILS.get_datetime_string_identifier()}'

In [6]:
PREDICTED_DATA_TABLE

'predicted_dataset_2025_04_05_08h07m'

In [7]:
# df = DUCK_DB.load_table_to_predict(
#     PRE_PREPARED_DATA_TABLE,
#     start_from_safra=project_config.MAX_SAFRA_TO_CONSIDER_ON_DATA_PREPARE
# )

df = DUCK_DB.load_table(
    PRE_PREPARED_DATA_TABLE,
    where_condition=f'WHERE safra > {project_config.TRAIN_DATA_UNTIL_SAFRA}'
)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [8]:
# df = df[:10].copy()

In [9]:
# df.sort_values('safra', ascending=False).head()[['safra', 'is_churn', 'no_churn_information']]

In [10]:
# df[df['no_churn_information'] == True]['safra'].describe()

In [11]:
df = DATA_PROCESSOR_UTILS.calc_remaining_days(df)

In [12]:
df.head()

,cost,msno,safra,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_hours,msno_1,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,is_cancel,safra_1,transaction_date_year,transaction_date_month,transaction_date_day,transaction_date_day_of_week,transaction_date_day_of_year,membership_expire_date_year,membership_expire_date_month,membership_expire_date_day,membership_expire_date_day_of_week,membership_expire_date_day_of_year,discount,price_per_month,members_msno,members_safra,city,registered_via,is_active,registration_init_time_year,registration_init_time_month,registration_init_time_day,registration_init_time_day_of_week,registration_init_time_day_of_year,_filled_out_members_info,is_churn,no_churn_information,num_unq-2M,num_unq-1M,total_secs-2M,total_secs-1M,num_25-2M,num_25-1M,num_50-2M,num_50-1M,num_75-2M,num_75-1M,num_985-2M,num_985-1M,num_100-2M,num_100-1M,remaining_days
0,55.9125,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,201609,60,12,14,7,171,179,49996,13.8878,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,35,7,0,0,False,False,201609,2016,9,9,4,253,2016,9,14,2,258,0,0.0000,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,201609,15,9,True,2004,3,27,5,87,Infos j√° existentes,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0000
1,67.3556,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201611,128,71,50,101,470,488,148668,41.2967,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,True,False,201611,2016,11,16,2,321,2016,12,15,3,350,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201611,1,7,True,2014,6,8,6,159,Infos j√° existentes,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0000
2,80.6741,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201612,193,88,98,142,855,979,256812,71.3367,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,True,False,201612,2016,12,15,3,350,2017,1,15,6,15,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201612,1,7,True,2014,6,8,6,159,Infos j√° existentes,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0000
3,69.3364,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201701,135,69,78,147,438,696,157868,43.8522,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,True,False,201701,2017,1,15,6,15,2017,2,15,2,46,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,<NA>,1,7,True,2014,6,8,6,159,Copiadas,False,True,488.0000,979.0000,148668.0000,256812.0000,128.0000,193.0000,71.0000,88.0000,50.0000,98.0000,101.0000,142.0000,470.0000,855.0000,31.0000
4,68.9275,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201702,116,61,58,114,468,642,156533,43.4814,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,True,False,201702,2017,2,15,2,46,2017,3,15,2,74,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,<NA>,1,7,True,2014,6,8,6,159,Copiadas,False,True,979.0000,696.0000,256812.0000,157868.0000,193.0000,135.0000,88.0000,69.0000,98.0000,78.0000,142.0000,147.0000,855.0000,438.0000,28.0000

In [13]:
# Data to predict
df['safra'].value_counts()

safra
201611    227022
201610    219759
201609    213338
201612    211127
201701    205849
201702    173975
Name: count, dtype: int64

In [14]:
len(df)

1251070

In [15]:
# Treating DF
df.isna().sum().T

cost                                       0
msno                                       0
safra                                      0
num_25                                     0
num_50                                     0
num_75                                     0
num_985                                    0
num_100                                    0
num_unq                                    0
total_secs                                 0
total_hours                                0
msno_1                                     0
payment_method_id                          0
payment_plan_days                          0
plan_list_price                            0
actual_amount_paid                         0
is_auto_renew                              0
is_cancel                                  0
safra_1                                    0
transaction_date_year                      0
transaction_date_month                     0
transaction_date_day                       0
transaction_date_day_of_week               0
transaction_date_day_of_year               0
membership_expire_date_year                0
membership_expire_date_month               0
membership_expire_date_day                 0
membership_expire_date_day_of_week         0
membership_expire_date_day_of_year         0
discount                                   0
price_per_month                            0
members_msno                               0
members_safra                         379824
city                                       0
registered_via                             0
is_active                                  0
registration_init_time_year                0
registration_init_time_month               0
registration_init_time_day                 0
registration_init_time_day_of_week         0
registration_init_time_day_of_year         0
_filled_out_members_info                   0
is_churn                                   0
no_churn_information                       0
num_unq-2M                            246624
num_unq-1M                            246624
total_secs-2M                         246624
total_secs-1M                         246624
num_25-2M                             246624
num_25-1M                             246624
num_50-2M                             246624
num_50-1M                             246624
num_75-2M                             246624
num_75-1M                             246624
num_985-2M                            246624
num_985-1M                            246624
num_100-2M                            246624
num_100-1M                            246624
remaining_days                             0
dtype: int64

In [16]:
count = 0

def fill_out_historical_data(df: pd.DataFrame) -> pd.DataFrame:
    past_safras_to_consider = project_config.SAFRAS_TO_CONSIDER_ON_HISTORICAL_DATA

    # Key: past col
    # Value: "actual" col
    historical_cols = {}

    for col in project_config.COLUMNS_TO_GET_HISTORICAL_DATA:
        for s in past_safras_to_consider:
            historical_cols[f'{col}{s}M'] = col

    df_size = len(df)

    def __process(row: pd.Series):
        global count
        if count % 1500 == 0:
            print(f'-> {count} / {df_size}')

        count += 1

        edited = False
        for past_col, col in historical_cols.items():
            if pd.isna(row[past_col]):
                row[past_col] = int(row[col])
                edited = True

        row['_filled_out_past_info'] = edited

        return row

    df = df.apply(lambda row: __process(row), axis=1)

    return df

df = fill_out_historical_data(df)

-> 0 / 1251070
-> 1500 / 1251070
-> 3000 / 1251070
-> 4500 / 1251070
-> 6000 / 1251070
-> 7500 / 1251070
-> 9000 / 1251070
-> 10500 / 1251070
-> 12000 / 1251070
-> 13500 / 1251070
-> 15000 / 1251070
-> 16500 / 1251070
-> 18000 / 1251070
-> 19500 / 1251070
-> 21000 / 1251070
-> 22500 / 1251070
-> 24000 / 1251070
-> 25500 / 1251070
-> 27000 / 1251070
-> 28500 / 1251070
-> 30000 / 1251070
-> 31500 / 1251070
-> 33000 / 1251070
-> 34500 / 1251070
-> 36000 / 1251070
-> 37500 / 1251070
-> 39000 / 1251070
-> 40500 / 1251070
-> 42000 / 1251070
-> 43500 / 1251070
-> 45000 / 1251070
-> 46500 / 1251070
-> 48000 / 1251070
-> 49500 / 1251070
-> 51000 / 1251070
-> 52500 / 1251070
-> 54000 / 1251070
-> 55500 / 1251070
-> 57000 / 1251070
-> 58500 / 1251070
-> 60000 / 1251070
-> 61500 / 1251070
-> 63000 / 1251070
-> 64500 / 1251070
-> 66000 / 1251070
-> 67500 / 1251070
-> 69000 / 1251070
-> 70500 / 1251070
-> 72000 / 1251070
-> 73500 / 1251070
-> 75000 / 1251070
-> 76500 / 1251070
-> 78000 / 1251070
-> 79500 / 1251070
-> 81000 / 1251070
-> 82500 / 1251070
-> 84000 / 1251070
-> 85500 / 1251070
-> 87000 / 1251070
-> 88500 / 1251070
-> 90000 / 1251070
-> 91500 / 1251070
-> 93000 / 1251070
-> 94500 / 1251070
-> 96000 / 1251070
-> 97500 / 1251070
-> 99000 / 1251070
-> 100500 / 1251070
-> 102000 / 1251070
-> 103500 / 1251070
-> 105000 / 1251070
-> 106500 / 1251070
-> 108000 / 1251070
-> 109500 / 1251070
-> 111000 / 1251070
-> 112500 / 1251070
-> 114000 / 1251070
-> 115500 / 1251070
-> 117000 / 1251070
-> 118500 / 1251070
-> 120000 / 1251070
-> 121500 / 1251070
-> 123000 / 1251070
-> 124500 / 1251070
-> 126000 / 1251070
-> 127500 / 1251070
-> 129000 / 1251070
-> 130500 / 1251070
-> 132000 / 1251070
-> 133500 / 1251070
-> 135000 / 1251070
-> 136500 / 1251070
-> 138000 / 1251070
-> 139500 / 1251070
-> 141000 / 1251070
-> 142500 / 1251070
-> 144000 / 1251070
-> 145500 / 1251070
-> 147000 / 1251070
-> 148500 / 1251070
-> 150000 / 1251070
-> 151500 / 1251070
-> 153000 / 1251070
-> 154500 / 1251070
-> 156000 / 1251070
-> 157500 / 1251070
-> 159000 / 1251070
-> 160500 / 1251070
-> 162000 / 1251070
-> 163500 / 1251070
-> 165000 / 1251070
-> 166500 / 1251070
-> 168000 / 1251070
-> 169500 / 1251070
-> 171000 / 1251070
-> 172500 / 1251070
-> 174000 / 1251070
-> 175500 / 1251070
-> 177000 / 1251070
-> 178500 / 1251070
-> 180000 / 1251070
-> 181500 / 1251070
-> 183000 / 1251070
-> 184500 / 1251070
-> 186000 / 1251070
-> 187500 / 1251070
-> 189000 / 1251070
-> 190500 / 1251070
-> 192000 / 1251070
-> 193500 / 1251070
-> 195000 / 1251070
-> 196500 / 1251070
-> 198000 / 1251070
-> 199500 / 1251070
-> 201000 / 1251070
-> 202500 / 1251070
-> 204000 / 1251070
-> 205500 / 1251070
-> 207000 / 1251070
-> 208500 / 1251070
-> 210000 / 1251070
-> 211500 / 1251070
-> 213000 / 1251070
-> 214500 / 1251070
-> 216000 / 1251070
-> 217500 / 1251070
-> 219000 / 1251070
-> 220500 / 1251070
-> 222000 / 1251070
-> 223500 / 1251070
-> 225000 / 1251070
-> 226500 / 1251070
-> 228000 / 1251070
-> 229500 / 1251070
-> 231000 / 1251070
-> 232500 / 1251070
-> 234000 / 1251070
-> 235500 / 1251070
-> 237000 / 1251070
-> 238500 / 1251070
-> 240000 / 1251070
-> 241500 / 1251070
-> 243000 / 1251070
-> 244500 / 1251070
-> 246000 / 1251070
-> 247500 / 1251070
-> 249000 / 1251070
-> 250500 / 1251070
-> 252000 / 1251070
-> 253500 / 1251070
-> 255000 / 1251070
-> 256500 / 1251070
-> 258000 / 1251070
-> 259500 / 1251070
-> 261000 / 1251070
-> 262500 / 1251070
-> 264000 / 1251070
-> 265500 / 1251070
-> 267000 / 1251070
-> 268500 / 1251070
-> 270000 / 1251070
-> 271500 / 1251070
-> 273000 / 1251070
-> 274500 / 1251070
-> 276000 / 1251070
-> 277500 / 1251070
-> 279000 / 1251070
-> 280500 / 1251070
-> 282000 / 1251070
-> 283500 / 1251070
-> 285000 / 1251070
-> 286500 / 1251070
-> 288000 / 1251070
-> 289500 / 1251070
-> 291000 / 1251070
-> 292500 / 1251070
-> 294000 / 1251070
-> 295500 / 1251070
-> 297000 / 1251070
-> 298500 / 1251070
-> 300000 / 1251070
-> 301500 / 1251070
-> 303000 / 1251070
-> 304500 / 1251070
-> 306000 / 1251070
-> 307500 / 1251070
-> 309000 / 1251070
-> 310500 / 1251070
-> 312000 / 1251070
-> 313500 / 1251070
-> 315000 / 1251070
-> 316500 / 1251070
-> 318000 / 1251070
-> 319500 / 1251070
-> 321000 / 1251070
-> 322500 / 1251070
-> 324000 / 1251070
-> 325500 / 1251070
-> 327000 / 1251070
-> 328500 / 1251070
-> 330000 / 1251070
-> 331500 / 1251070
-> 333000 / 1251070
-> 334500 / 1251070
-> 336000 / 1251070
-> 337500 / 1251070
-> 339000 / 1251070
-> 340500 / 1251070
-> 342000 / 1251070
-> 343500 / 1251070
-> 345000 / 1251070
-> 346500 / 1251070
-> 348000 / 1251070
-> 349500 / 1251070
-> 351000 / 1251070
-> 352500 / 1251070
-> 354000 / 1251070
-> 355500 / 1251070
-> 357000 / 1251070
-> 358500 / 1251070
-> 360000 / 1251070
-> 361500 / 1251070
-> 363000 / 1251070
-> 364500 / 1251070
-> 366000 / 1251070
-> 367500 / 1251070
-> 369000 / 1251070
-> 370500 / 1251070
-> 372000 / 1251070
-> 373500 / 1251070
-> 375000 / 1251070
-> 376500 / 1251070
-> 378000 / 1251070
-> 379500 / 1251070
-> 381000 / 1251070
-> 382500 / 1251070
-> 384000 / 1251070
-> 385500 / 1251070
-> 387000 / 1251070
-> 388500 / 1251070
-> 390000 / 1251070
-> 391500 / 1251070
-> 393000 / 1251070
-> 394500 / 1251070
-> 396000 / 1251070
-> 397500 / 1251070
-> 399000 / 1251070
-> 400500 / 1251070
-> 402000 / 1251070
-> 403500 / 1251070
-> 405000 / 1251070
-> 406500 / 1251070
-> 408000 / 1251070
-> 409500 / 1251070
-> 411000 / 1251070
-> 412500 / 1251070
-> 414000 / 1251070
-> 415500 / 1251070
-> 417000 / 1251070
-> 418500 / 1251070
-> 420000 / 1251070
-> 421500 / 1251070
-> 423000 / 1251070
-> 424500 / 1251070
-> 426000 / 1251070
-> 427500 / 1251070
-> 429000 / 1251070
-> 430500 / 1251070
-> 432000 / 1251070
-> 433500 / 1251070
-> 435000 / 1251070
-> 436500 / 1251070
-> 438000 / 1251070
-> 439500 / 1251070
-> 441000 / 1251070
-> 442500 / 1251070
-> 444000 / 1251070
-> 445500 / 1251070
-> 447000 / 1251070
-> 448500 / 1251070
-> 450000 / 1251070
-> 451500 / 1251070
-> 453000 / 1251070
-> 454500 / 1251070
-> 456000 / 1251070
-> 457500 / 1251070
-> 459000 / 1251070
-> 460500 / 1251070
-> 462000 / 1251070
-> 463500 / 1251070
-> 465000 / 1251070
-> 466500 / 1251070
-> 468000 / 1251070
-> 469500 / 1251070
-> 471000 / 1251070
-> 472500 / 1251070
-> 474000 / 1251070
-> 475500 / 1251070
-> 477000 / 1251070
-> 478500 / 1251070
-> 480000 / 1251070
-> 481500 / 1251070
-> 483000 / 1251070
-> 484500 / 1251070
-> 486000 / 1251070
-> 487500 / 1251070
-> 489000 / 1251070
-> 490500 / 1251070
-> 492000 / 1251070
-> 493500 / 1251070
-> 495000 / 1251070
-> 496500 / 1251070
-> 498000 / 1251070
-> 499500 / 1251070
-> 501000 / 1251070
-> 502500 / 1251070
-> 504000 / 1251070
-> 505500 / 1251070
-> 507000 / 1251070
-> 508500 / 1251070
-> 510000 / 1251070
-> 511500 / 1251070
-> 513000 / 1251070
-> 514500 / 1251070
-> 516000 / 1251070
-> 517500 / 1251070
-> 519000 / 1251070
-> 520500 / 1251070
-> 522000 / 1251070
-> 523500 / 1251070
-> 525000 / 1251070
-> 526500 / 1251070
-> 528000 / 1251070
-> 529500 / 1251070
-> 531000 / 1251070
-> 532500 / 1251070
-> 534000 / 1251070
-> 535500 / 1251070
-> 537000 / 1251070
-> 538500 / 1251070
-> 540000 / 1251070
-> 541500 / 1251070
-> 543000 / 1251070
-> 544500 / 1251070
-> 546000 / 1251070
-> 547500 / 1251070
-> 549000 / 1251070
-> 550500 / 1251070
-> 552000 / 1251070
-> 553500 / 1251070
-> 555000 / 1251070
-> 556500 / 1251070
-> 558000 / 1251070
-> 559500 / 1251070
-> 561000 / 1251070
-> 562500 / 1251070
-> 564000 / 1251070
-> 565500 / 1251070
-> 567000 / 1251070
-> 568500 / 1251070
-> 570000 / 1251070
-> 571500 / 1251070
-> 573000 / 1251070
-> 574500 / 1251070
-> 576000 / 1251070
-> 577500 / 1251070
-> 579000 / 1251070
-> 580500 / 1251070
-> 582000 / 1251070
-> 583500 / 1251070
-> 585000 / 1251070
-> 586500 / 1251070
-> 588000 / 1251070
-> 589500 / 1251070
-> 591000 / 1251070
-> 592500 / 1251070
-> 594000 / 1251070
-> 595500 / 1251070
-> 597000 / 1251070
-> 598500 / 1251070
-> 600000 / 1251070
-> 601500 / 1251070
-> 603000 / 1251070
-> 604500 / 1251070
-> 606000 / 1251070
-> 607500 / 1251070
-> 609000 / 1251070
-> 610500 / 1251070
-> 612000 / 1251070
-> 613500 / 1251070
-> 615000 / 1251070
-> 616500 / 1251070
-> 618000 / 1251070
-> 619500 / 1251070
-> 621000 / 1251070
-> 622500 / 1251070
-> 624000 / 1251070
-> 625500 / 1251070
-> 627000 / 1251070
-> 628500 / 1251070
-> 630000 / 1251070
-> 631500 / 1251070
-> 633000 / 1251070
-> 634500 / 1251070
-> 636000 / 1251070
-> 637500 / 1251070
-> 639000 / 1251070
-> 640500 / 1251070
-> 642000 / 1251070
-> 643500 / 1251070
-> 645000 / 1251070
-> 646500 / 1251070
-> 648000 / 1251070
-> 649500 / 1251070
-> 651000 / 1251070
-> 652500 / 1251070
-> 654000 / 1251070
-> 655500 / 1251070
-> 657000 / 1251070
-> 658500 / 1251070
-> 660000 / 1251070
-> 661500 / 1251070
-> 663000 / 1251070
-> 664500 / 1251070
-> 666000 / 1251070
-> 667500 / 1251070
-> 669000 / 1251070
-> 670500 / 1251070
-> 672000 / 1251070
-> 673500 / 1251070
-> 675000 / 1251070
-> 676500 / 1251070
-> 678000 / 1251070
-> 679500 / 1251070
-> 681000 / 1251070
-> 682500 / 1251070
-> 684000 / 1251070
-> 685500 / 1251070
-> 687000 / 1251070
-> 688500 / 1251070
-> 690000 / 1251070
-> 691500 / 1251070
-> 693000 / 1251070
-> 694500 / 1251070
-> 696000 / 1251070
-> 697500 / 1251070
-> 699000 / 1251070
-> 700500 / 1251070
-> 702000 / 1251070
-> 703500 / 1251070
-> 705000 / 1251070
-> 706500 / 1251070
-> 708000 / 1251070
-> 709500 / 1251070
-> 711000 / 1251070
-> 712500 / 1251070
-> 714000 / 1251070
-> 715500 / 1251070
-> 717000 / 1251070
-> 718500 / 1251070
-> 720000 / 1251070
-> 721500 / 1251070
-> 723000 / 1251070
-> 724500 / 1251070
-> 726000 / 1251070
-> 727500 / 1251070
-> 729000 / 1251070
-> 730500 / 1251070
-> 732000 / 1251070
-> 733500 / 1251070
-> 735000 / 1251070
-> 736500 / 1251070
-> 738000 / 1251070
-> 739500 / 1251070
-> 741000 / 1251070
-> 742500 / 1251070
-> 744000 / 1251070
-> 745500 / 1251070
-> 747000 / 1251070
-> 748500 / 1251070
-> 750000 / 1251070
-> 751500 / 1251070
-> 753000 / 1251070
-> 754500 / 1251070
-> 756000 / 1251070
-> 757500 / 1251070
-> 759000 / 1251070
-> 760500 / 1251070
-> 762000 / 1251070
-> 763500 / 1251070
-> 765000 / 1251070
-> 766500 / 1251070
-> 768000 / 1251070
-> 769500 / 1251070
-> 771000 / 1251070
-> 772500 / 1251070
-> 774000 / 1251070
-> 775500 / 1251070
-> 777000 / 1251070
-> 778500 / 1251070
-> 780000 / 1251070
-> 781500 / 1251070
-> 783000 / 1251070
-> 784500 / 1251070
-> 786000 / 1251070
-> 787500 / 1251070
-> 789000 / 1251070
-> 790500 / 1251070
-> 792000 / 1251070
-> 793500 / 1251070
-> 795000 / 1251070
-> 796500 / 1251070
-> 798000 / 1251070
-> 799500 / 1251070
-> 801000 / 1251070
-> 802500 / 1251070
-> 804000 / 1251070
-> 805500 / 1251070
-> 807000 / 1251070
-> 808500 / 1251070
-> 810000 / 1251070
-> 811500 / 1251070
-> 813000 / 1251070
-> 814500 / 1251070
-> 816000 / 1251070
-> 817500 / 1251070
-> 819000 / 1251070
-> 820500 / 1251070
-> 822000 / 1251070
-> 823500 / 1251070
-> 825000 / 1251070
-> 826500 / 1251070
-> 828000 / 1251070
-> 829500 / 1251070
-> 831000 / 1251070
-> 832500 / 1251070
-> 834000 / 1251070
-> 835500 / 1251070
-> 837000 / 1251070
-> 838500 / 1251070
-> 840000 / 1251070
-> 841500 / 1251070
-> 843000 / 1251070
-> 844500 / 1251070
-> 846000 / 1251070
-> 847500 / 1251070
-> 849000 / 1251070
-> 850500 / 1251070
-> 852000 / 1251070
-> 853500 / 1251070
-> 855000 / 1251070
-> 856500 / 1251070
-> 858000 / 1251070
-> 859500 / 1251070
-> 861000 / 1251070
-> 862500 / 1251070
-> 864000 / 1251070
-> 865500 / 1251070
-> 867000 / 1251070
-> 868500 / 1251070
-> 870000 / 1251070
-> 871500 / 1251070
-> 873000 / 1251070
-> 874500 / 1251070
-> 876000 / 1251070
-> 877500 / 1251070
-> 879000 / 1251070
-> 880500 / 1251070
-> 882000 / 1251070
-> 883500 / 1251070
-> 885000 / 1251070
-> 886500 / 1251070
-> 888000 / 1251070
-> 889500 / 1251070
-> 891000 / 1251070
-> 892500 / 1251070
-> 894000 / 1251070
-> 895500 / 1251070
-> 897000 / 1251070
-> 898500 / 1251070
-> 900000 / 1251070
-> 901500 / 1251070
-> 903000 / 1251070
-> 904500 / 1251070
-> 906000 / 1251070
-> 907500 / 1251070
-> 909000 / 1251070
-> 910500 / 1251070
-> 912000 / 1251070
-> 913500 / 1251070
-> 915000 / 1251070
-> 916500 / 1251070
-> 918000 / 1251070
-> 919500 / 1251070
-> 921000 / 1251070
-> 922500 / 1251070
-> 924000 / 1251070
-> 925500 / 1251070
-> 927000 / 1251070
-> 928500 / 1251070
-> 930000 / 1251070
-> 931500 / 1251070
-> 933000 / 1251070
-> 934500 / 1251070
-> 936000 / 1251070
-> 937500 / 1251070
-> 939000 / 1251070
-> 940500 / 1251070
-> 942000 / 1251070
-> 943500 / 1251070
-> 945000 / 1251070
-> 946500 / 1251070
-> 948000 / 1251070
-> 949500 / 1251070
-> 951000 / 1251070
-> 952500 / 1251070
-> 954000 / 1251070
-> 955500 / 1251070
-> 957000 / 1251070
-> 958500 / 1251070
-> 960000 / 1251070
-> 961500 / 1251070
-> 963000 / 1251070
-> 964500 / 1251070
-> 966000 / 1251070
-> 967500 / 1251070
-> 969000 / 1251070
-> 970500 / 1251070
-> 972000 / 1251070
-> 973500 / 1251070
-> 975000 / 1251070
-> 976500 / 1251070
-> 978000 / 1251070
-> 979500 / 1251070
-> 981000 / 1251070
-> 982500 / 1251070
-> 984000 / 1251070
-> 985500 / 1251070
-> 987000 / 1251070
-> 988500 / 1251070
-> 990000 / 1251070
-> 991500 / 1251070
-> 993000 / 1251070
-> 994500 / 1251070
-> 996000 / 1251070
-> 997500 / 1251070
-> 999000 / 1251070
-> 1000500 / 1251070
-> 1002000 / 1251070
-> 1003500 / 1251070
-> 1005000 / 1251070
-> 1006500 / 1251070
-> 1008000 / 1251070
-> 1009500 / 1251070
-> 1011000 / 1251070
-> 1012500 / 1251070
-> 1014000 / 1251070
-> 1015500 / 1251070
-> 1017000 / 1251070
-> 1018500 / 1251070
-> 1020000 / 1251070
-> 1021500 / 1251070
-> 1023000 / 1251070
-> 1024500 / 1251070
-> 1026000 / 1251070
-> 1027500 / 1251070
-> 1029000 / 1251070
-> 1030500 / 1251070
-> 1032000 / 1251070
-> 1033500 / 1251070
-> 1035000 / 1251070
-> 1036500 / 1251070
-> 1038000 / 1251070
-> 1039500 / 1251070
-> 1041000 / 1251070
-> 1042500 / 1251070
-> 1044000 / 1251070
-> 1045500 / 1251070
-> 1047000 / 1251070
-> 1048500 / 1251070
-> 1050000 / 1251070
-> 1051500 / 1251070
-> 1053000 / 1251070
-> 1054500 / 1251070
-> 1056000 / 1251070
-> 1057500 / 1251070
-> 1059000 / 1251070
-> 1060500 / 1251070
-> 1062000 / 1251070
-> 1063500 / 1251070
-> 1065000 / 1251070
-> 1066500 / 1251070
-> 1068000 / 1251070
-> 1069500 / 1251070
-> 1071000 / 1251070
-> 1072500 / 1251070
-> 1074000 / 1251070
-> 1075500 / 1251070
-> 1077000 / 1251070
-> 1078500 / 1251070
-> 1080000 / 1251070
-> 1081500 / 1251070
-> 1083000 / 1251070
-> 1084500 / 1251070
-> 1086000 / 1251070
-> 1087500 / 1251070
-> 1089000 / 1251070
-> 1090500 / 1251070
-> 1092000 / 1251070
-> 1093500 / 1251070
-> 1095000 / 1251070
-> 1096500 / 1251070
-> 1098000 / 1251070
-> 1099500 / 1251070
-> 1101000 / 1251070
-> 1102500 / 1251070
-> 1104000 / 1251070
-> 1105500 / 1251070
-> 1107000 / 1251070
-> 1108500 / 1251070
-> 1110000 / 1251070
-> 1111500 / 1251070
-> 1113000 / 1251070
-> 1114500 / 1251070
-> 1116000 / 1251070
-> 1117500 / 1251070
-> 1119000 / 1251070
-> 1120500 / 1251070
-> 1122000 / 1251070
-> 1123500 / 1251070
-> 1125000 / 1251070
-> 1126500 / 1251070
-> 1128000 / 1251070
-> 1129500 / 1251070
-> 1131000 / 1251070
-> 1132500 / 1251070
-> 1134000 / 1251070
-> 1135500 / 1251070
-> 1137000 / 1251070
-> 1138500 / 1251070
-> 1140000 / 1251070
-> 1141500 / 1251070
-> 1143000 / 1251070
-> 1144500 / 1251070
-> 1146000 / 1251070
-> 1147500 / 1251070
-> 1149000 / 1251070
-> 1150500 / 1251070
-> 1152000 / 1251070
-> 1153500 / 1251070
-> 1155000 / 1251070
-> 1156500 / 1251070
-> 1158000 / 1251070
-> 1159500 / 1251070
-> 1161000 / 1251070
-> 1162500 / 1251070
-> 1164000 / 1251070
-> 1165500 / 1251070
-> 1167000 / 1251070
-> 1168500 / 1251070
-> 1170000 / 1251070
-> 1171500 / 1251070
-> 1173000 / 1251070
-> 1174500 / 1251070
-> 1176000 / 1251070
-> 1177500 / 1251070
-> 1179000 / 1251070
-> 1180500 / 1251070
-> 1182000 / 1251070
-> 1183500 / 1251070
-> 1185000 / 1251070
-> 1186500 / 1251070
-> 1188000 / 1251070
-> 1189500 / 1251070
-> 1191000 / 1251070
-> 1192500 / 1251070
-> 1194000 / 1251070
-> 1195500 / 1251070
-> 1197000 / 1251070
-> 1198500 / 1251070
-> 1200000 / 1251070
-> 1201500 / 1251070
-> 1203000 / 1251070
-> 1204500 / 1251070
-> 1206000 / 1251070
-> 1207500 / 1251070
-> 1209000 / 1251070
-> 1210500 / 1251070
-> 1212000 / 1251070
-> 1213500 / 1251070
-> 1215000 / 1251070
-> 1216500 / 1251070
-> 1218000 / 1251070
-> 1219500 / 1251070
-> 1221000 / 1251070
-> 1222500 / 1251070
-> 1224000 / 1251070
-> 1225500 / 1251070
-> 1227000 / 1251070
-> 1228500 / 1251070
-> 1230000 / 1251070
-> 1231500 / 1251070
-> 1233000 / 1251070
-> 1234500 / 1251070
-> 1236000 / 1251070
-> 1237500 / 1251070
-> 1239000 / 1251070
-> 1240500 / 1251070
-> 1242000 / 1251070
-> 1243500 / 1251070
-> 1245000 / 1251070
-> 1246500 / 1251070
-> 1248000 / 1251070
-> 1249500 / 1251070
-> 1251000 / 1251070

In [17]:
def print_cols_and_historical_cols(df: pd.DataFrame):
    cols = ['_filled_out_past_info']
    for col in project_config.COLUMNS_TO_GET_HISTORICAL_DATA:
        cols.append(col)

        for sfr in project_config.SAFRAS_TO_CONSIDER_ON_HISTORICAL_DATA:
            cols.append(f'{col}{sfr}M')

    return df[cols]

print_cols_and_historical_cols(df).head().T

,0,1,2,3,4
_filled_out_past_info,True,True,True,False,False
num_unq,179,488,979,696,642
num_unq-2M,179.0000,488.0000,979.0000,488.0000,979.0000
num_unq-1M,179.0000,488.0000,979.0000,979.0000,696.0000
total_secs,49996,148668,256812,157868,156533
total_secs-2M,49996.0000,148668.0000,256812.0000,148668.0000,256812.0000
total_secs-1M,49996.0000,148668.0000,256812.0000,256812.0000,157868.0000
num_25,60,128,193,135,116
num_25-2M,60.0000,128.0000,193.0000,128.0000,193.0000
num_25-1M,60.0000,128.0000,193.0000,193.0000,135.0000
num_50,12,71,88,69,61
num_50-2M,12.0000,71.0000,88.0000,71.0000,88.0000
num_50-1M,12.0000,71.0000,88.0000,88.0000,69.0000
num_75,14,50,98,78,58
num_75-2M,14.0000,50.0000,98.0000,50.0000,98.0000
num_75-1M,14.0000,50.0000,98.0000,98.0000,78.0000
num_985,7,101,142,147,114
num_985-2M,7.0000,101.0000,142.0000,101.0000,142.0000
num_985-1M,7.0000,101.0000,142.0000,142.0000,147.0000
num_100,171,470,855,438,468
num_100-2M,171.0000,470.0000,855.0000,470.0000,855.0000
num_100-1M,171.0000,470.0000,855.0000,855.0000,438.0000

In [18]:
# Treating DF
df.isna().sum().T

cost                                       0
msno                                       0
safra                                      0
num_25                                     0
num_50                                     0
num_75                                     0
num_985                                    0
num_100                                    0
num_unq                                    0
total_secs                                 0
total_hours                                0
msno_1                                     0
payment_method_id                          0
payment_plan_days                          0
plan_list_price                            0
actual_amount_paid                         0
is_auto_renew                              0
is_cancel                                  0
safra_1                                    0
transaction_date_year                      0
transaction_date_month                     0
transaction_date_day                       0
transaction_date_day_of_week               0
transaction_date_day_of_year               0
membership_expire_date_year                0
membership_expire_date_month               0
membership_expire_date_day                 0
membership_expire_date_day_of_week         0
membership_expire_date_day_of_year         0
discount                                   0
price_per_month                            0
members_msno                               0
members_safra                         379824
city                                       0
registered_via                             0
is_active                                  0
registration_init_time_year                0
registration_init_time_month               0
registration_init_time_day                 0
registration_init_time_day_of_week         0
registration_init_time_day_of_year         0
_filled_out_members_info                   0
is_churn                                   0
no_churn_information                       0
num_unq-2M                                 0
num_unq-1M                                 0
total_secs-2M                              0
total_secs-1M                              0
num_25-2M                                  0
num_25-1M                                  0
num_50-2M                                  0
num_50-1M                                  0
num_75-2M                                  0
num_75-1M                                  0
num_985-2M                                 0
num_985-1M                                 0
num_100-2M                                 0
num_100-1M                                 0
remaining_days                             0
_filled_out_past_info                      0
dtype: int64

In [19]:
df = DATA_PROCESSOR_UTILS.process_categories(df)

Adicionando coluna payment_method_id_0
Adicionando coluna payment_method_id_1
Adicionando coluna payment_method_id_2
Adicionando coluna payment_method_id_3
Adicionando coluna payment_method_id_4
Adicionando coluna payment_method_id_5
Adicionando coluna payment_method_id_7
Adicionando coluna payment_method_id_9
Adicionando coluna payment_method_id_24
Adicionando coluna payment_method_id_25
Adicionando coluna city_0
Adicionando coluna city_2
Adicionando coluna registered_via_0
Adicionando coluna registered_via_1
Adicionando coluna registered_via_2
Adicionando coluna registered_via_5
Adicionando coluna registered_via_6
Adicionando coluna registered_via_8
Adicionando coluna registered_via_10
Adicionando coluna registered_via_11
Adicionando coluna registered_via_12
Adicionando coluna registered_via_14
Adicionando coluna registered_via_15
Adicionando coluna registered_via_16
Adicionando coluna registered_via_17
Adicionando coluna registered_via_18
Adicionando coluna registered_via_19

In [20]:
df = DATA_PROCESSOR_UTILS.split_safras(df)

In [21]:
df_to_predict = df[project_config.COLUMNS_USED_ON_TRAIN_AND_PREDICTION]

In [22]:
df_to_predict.head()

,registration_init_time_day,registration_init_time_day_of_year,registration_init_time_year,transaction_date_day,transaction_date_day_of_week,transaction_date_day_of_year,transaction_date_month,membership_expire_date_day,membership_expire_date_day_of_year,membership_expire_date_month,membership_expire_date_year,is_auto_renew,is_cancel,remaining_days,safra_month,num_100,num_100-1M,num_100-2M,num_25,num_25-1M,num_25-2M,num_50,num_50-1M,num_50-2M,num_75,num_75-1M,num_75-2M,num_985,num_985-1M,num_985-2M,num_unq,num_unq-1M,num_unq-2M,total_secs,total_secs-1M,total_secs-2M,city_0,city_1,city_10,city_11,city_12,city_13,city_14,city_15,city_16,city_17,city_18,city_19,city_2,city_20,city_21,city_22,city_3,city_4,city_5,city_6,city_7,city_8,city_9,registered_via_0,registered_via_1,registered_via_10,registered_via_11,registered_via_12,registered_via_13,registered_via_14,registered_via_15,registered_via_16,registered_via_17,registered_via_18,registered_via_19,registered_via_2,registered_via_3,registered_via_4,registered_via_5,registered_via_6,registered_via_7,registered_via_8,registered_via_9,payment_method_id_0,payment_method_id_1,payment_method_id_10,payment_method_id_11,payment_method_id_12,payment_method_id_13,payment_method_id_14,payment_method_id_15,payment_method_id_16,payment_method_id_17,payment_method_id_18,payment_method_id_19,payment_method_id_2,payment_method_id_20,payment_method_id_21,payment_method_id_22,payment_method_id_23,payment_method_id_24,payment_method_id_25,payment_method_id_26,payment_method_id_27,payment_method_id_28,payment_method_id_29,payment_method_id_3,payment_method_id_30,payment_method_id_31,payment_method_id_32,payment_method_id_33,payment_method_id_34,payment_method_id_35,payment_method_id_36,payment_method_id_37,payment_method_id_38,payment_method_id_39,payment_method_id_4,payment_method_id_40,payment_method_id_41,payment_method_id_5,payment_method_id_6,payment_method_id_7,payment_method_id_8,payment_method_id_9
0,27,87,2004,9,4,253,9,14,258,9,2016,False,False,5.0000,9.0000,171,171.0000,171.0000,60,60.0000,60.0000,12,12.0000,12.0000,14,14.0000,14.0000,7,7.0000,7.0000,179,179.0000,179.0000,49996,49996.0000,49996.0000,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1,8,159,2014,16,2,321,11,15,350,12,2016,True,False,29.0000,11.0000,470,470.0000,470.0000,128,128.0000,128.0000,71,71.0000,71.0000,50,50.0000,50.0000,101,101.0000,101.0000,488,488.0000,488.0000,148668,148668.0000,148668.0000,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,8,159,2014,15,3,350,12,15,15,1,2017,True,False,31.0000,12.0000,855,855.0000,855.0000,193,193.0000,193.0000,88,88.0000,88.0000,98,98.0000,98.0000,142,142.0000,142.0000,979,979.0000,979.0000,256812,256812.0000,256812.0000,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,8,159,2014,15,6,15,1,15,46,2,2017,True,False,31.0000,1.0000,438,855.0000,470.0000,135,193.0000,128.0000,69,88.0000,71.0000,78,98.0000,50.0000,147,142.0000,101.0000,696,979.0000,488.0000,157868,256812.0000,148668.0000,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,8,159,2014,15,2,46,2,15,74,3,2017,True,False,28.0000,2.0000,468,438.0000,855.0000,116,135.0000,193.0000,61,69.0000,88.0000,58,78.0000,98.0000,114,147.0000,142.0000,642,696.0000,979.0000,156533,157868.0000,256812.0000,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [23]:
from sklearn.ensemble import RandomForestClassifier

model: RandomForestClassifier = joblib.load(project_config.SELECTED_MODEL)
print(f'Carregado modelo {project_config.SELECTED_MODEL}: {model}')

Carregado modelo ./models/random_forest_model_2025-04-05-08h-05m.joblib: RandomForestClassifier(bootstrap=False, max_depth=30, max_features='log2',
                       min_samples_split=10, random_state=42)

In [24]:
predicted_is_churn = model.predict(df_to_predict)
predicted_is_churn_proba = model.predict_proba(df_to_predict)

In [25]:
predicted_is_churn[:5], predicted_is_churn_proba[:5, 0]

(array([ True, False, False, False, False]),
 array([0.36326286, 0.79440992, 0.56946953, 0.58379437, 0.57548709]))

In [26]:
df['predicted_is_churn'] = predicted_is_churn

df['predicted_is_churn_proba_false'] = predicted_is_churn_proba[:, 0]
df['predicted_is_churn_proba_true'] = predicted_is_churn_proba[:, 1]

In [27]:
df.head()

,cost,msno,safra,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_hours,msno_1,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,is_cancel,safra_1,transaction_date_year,transaction_date_month,transaction_date_day,transaction_date_day_of_week,transaction_date_day_of_year,membership_expire_date_year,membership_expire_date_month,membership_expire_date_day,membership_expire_date_day_of_week,membership_expire_date_day_of_year,discount,price_per_month,members_msno,members_safra,is_active,registration_init_time_year,registration_init_time_month,registration_init_time_day,registration_init_time_day_of_week,registration_init_time_day_of_year,_filled_out_members_info,is_churn,no_churn_information,num_unq-2M,num_unq-1M,total_secs-2M,total_secs-1M,num_25-2M,num_25-1M,num_50-2M,num_50-1M,num_75-2M,num_75-1M,num_985-2M,num_985-1M,num_100-2M,num_100-1M,remaining_days,_filled_out_past_info,payment_method_id_6,payment_method_id_8,payment_method_id_10,payment_method_id_11,payment_method_id_12,payment_method_id_13,payment_method_id_14,payment_method_id_15,payment_method_id_16,payment_method_id_17,payment_method_id_18,payment_method_id_19,payment_method_id_20,payment_method_id_21,payment_method_id_22,payment_method_id_23,payment_method_id_26,payment_method_id_27,payment_method_id_28,payment_method_id_29,payment_method_id_30,payment_method_id_31,payment_method_id_32,payment_method_id_33,payment_method_id_34,payment_method_id_35,payment_method_id_36,payment_method_id_37,payment_method_id_38,payment_method_id_39,payment_method_id_40,payment_method_id_41,city_1,city_10,city_11,city_12,city_13,city_14,city_15,city_16,city_17,city_18,city_19,city_20,city_21,city_22,city_3,city_4,city_5,city_6,city_7,city_8,city_9,registered_via_13,registered_via_3,registered_via_4,registered_via_7,registered_via_9,payment_method_id_0,payment_method_id_1,payment_method_id_2,payment_method_id_3,payment_method_id_4,payment_method_id_5,payment_method_id_7,payment_method_id_9,payment_method_id_24,payment_method_id_25,city_0,city_2,registered_via_0,registered_via_1,registered_via_2,registered_via_5,registered_via_6,registered_via_8,registered_via_10,registered_via_11,registered_via_12,registered_via_14,registered_via_15,registered_via_16,registered_via_17,registered_via_18,registered_via_19,safra_year,safra_month,predicted_is_churn,predicted_is_churn_proba_false,predicted_is_churn_proba_true
0,55.9125,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,201609,60,12,14,7,171,179,49996,13.8878,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,7,0,0,False,False,201609,2016,9,9,4,253,2016,9,14,2,258,0,0.0000,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,201609,True,2004,3,27,5,87,Infos j√° existentes,True,False,179.0000,179.0000,49996.0000,49996.0000,60.0000,60.0000,12.0000,12.0000,14.0000,14.0000,7.0000,7.0000,171.0000,171.0000,5.0000,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2016.0000,9.0000,True,0.3633,0.6367
1,67.3556,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201611,128,71,50,101,470,488,148668,41.2967,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,30,99,99,True,False,201611,2016,11,16,2,321,2016,12,15,3,350,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201611,True,2014,6,8,6,159,Infos j√° existentes,False,False,488.0000,488.0000,148668.0000,148668.0000,128.0000,128.0000,71.0000,71.0000,50.0000,50.0000,101.0000,101.0000,470.0000,470.0000,29.0000,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2016.0000,11.0000,False,0.7944,0.2056
2,80.6741,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201612,193,88,98,142,855,979,256812,71.3367,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,30,99,99,True,False,201612,2016,12,15,3,350,2017,1,15,6,15,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201612,True,2014,6,8,6,159,Infos j√° existentes,False,True,979.0000,979.0000,256812.0000,256812.0000,193.0000,193.0000,88.0000,88.0000,98.0000,98.0000,142.0000,142.0000,855.0000,855.0000,31.0000,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2016.0000,12.0000,False,0.5695,0.4305
3,69.3364,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201701,135,69,78,147,438,696,157868,43.8522,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,30,99,99,True,False,201701,2017,1,15,6,15,2017,2,15,2,46,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,<NA>,True,2014,6,8,6,159,Copiadas,False,True,488.0000,979.0000,148668.0000,256812.0000,128.0000,193.0000,71.0000,88.0000,50.0000,98.0000,101.0000,142.0000,470.0000,855.0000,31.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2017.0000,1.0000,False,0.5838,0.4162
4,68.9275,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201702,116,61,58,114,468,642,156533,43.4814,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,30,99,99,True,False,201702,2017,2,15,2,46,2017,3,15,2,74,0,99.0000,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,<NA>,True,2014,6,8,6,159,Copiadas,False,True,979.0000,696.0000,256812.0000,157868.0000,193.0000,135.0000,88.0000,69.0000,98.0000,78.0000,142.0000,147.0000,855.0000,438.0000,28.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2017.0000,2.0000,False,0.5755,0.4245

In [28]:
DUCK_DB.create_database_table(
    df, PREDICTED_DATA_TABLE
)

In [29]:
DUCK_DB.truncate_table(
    PREDICTED_DATA_TABLE
)

In [30]:
DUCK_DB.upload_dataframe_to_duck_db(
    df, PREDICTED_DATA_TABLE
)

2025-04-05 08:14:59.954284 Inserindo 1251070 registros na tabela predicted_dataset_2025_04_05_08h07m

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2025-04-05 08:16:43.550890 Inseridos com sucesso

In [31]:
# DUCK_DB_UTILS.get_connection().close()

In [32]:
DUCK_DB.commit()