In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from Utils.DataLoader import DataLoader
from Utils.DataTransformer import DataTransformer
from Utils.DuckDb.DuckDb import DuckDb
from Utils.DatasetProcessor.DatasetProcessorUtils import DatasetProcessorUtils
from datetime import datetime
import pandas as pd
from typing import List
from Utils import PandasNotebookConfigs
import project_config
import numpy as np
import matplotlib.pyplot as plt
import joblib
from datetime import datetime
from Utils.Datetime import DatetimeUtils

In [11]:
PandasNotebookConfigs.config()

Ajustando display.float.format para %.4f

In [12]:
DUCK_DB = DuckDb()
DATA_TRANSFORMER = DataTransformer()
DATA_PROCESSOR_UTILS = DatasetProcessorUtils(DUCK_DB)
DATETIME_UTILS = DatetimeUtils()

In [13]:
PRE_PREPARED_DATA_TABLE = project_config.PRE_PREPARED_DATA_TABLE
PREDICTED_DATA_TABLE = f'predicted_dataset_{DATETIME_UTILS.get_datetime_string_identifier()}'

In [14]:
PREDICTED_DATA_TABLE

'predicted_dataset_2025_03_26_20h52m'

In [15]:
df = DUCK_DB.load_table_to_predict(
    PRE_PREPARED_DATA_TABLE,
    start_from_safra=project_config.MAX_SAFRA_TO_CONSIDER_ON_DATA_PREPARE
)

In [16]:
# input('Prometo tirar isso aqui!')
# df = df[:10].copy()

In [17]:
df = DATA_PROCESSOR_UTILS.calc_remaining_days(df)

In [18]:
df.head()

,cost,msno,safra,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,...,num_25-1M,num_50-2M,num_50-1M,num_75-2M,num_75-1M,num_985-2M,num_985-1M,num_100-2M,num_100-1M,remaining_days
0,67.3556,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201611,128,71,50,101,470,488,148668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0000
1,80.6741,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201612,193,88,98,142,855,979,256812,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0000
2,69.3364,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201701,135,69,78,147,438,696,157868,...,193.0000,71.0000,88.0000,50.0000,98.0000,101.0000,142.0000,470.0000,855.0000,31.0000
3,68.9275,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201702,116,61,58,114,468,642,156533,...,135.0000,88.0000,69.0000,98.0000,78.0000,142.0000,147.0000,855.0000,438.0000,28.0000
4,66.1132,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,201611,59,23,11,21,520,545,133337,...,32.0000,28.0000,12.0000,18.0000,14.0000,19.0000,20.0000,665.0000,755.0000,50.0000

In [19]:
# Data to predict
df['safra'].value_counts()

safra
201611    227022
201612    211127
201701    205849
201702    173975
Name: count, dtype: int64

In [20]:
len(df)

817973

In [21]:
# Treating DF
df.isna().sum().T

cost                                       0
msno                                       0
safra                                      0
num_25                                     0
num_50                                     0
num_75                                     0
num_985                                    0
num_100                                    0
num_unq                                    0
total_secs                                 0
total_hours                                0
msno_1                                     0
payment_method_id                          0
payment_plan_days                          0
plan_list_price                            0
actual_amount_paid                         0
is_auto_renew                              0
is_cancel                                  0
safra_1                                    0
transaction_date_year                      0
transaction_date_month                     0
transaction_date_day                       0
transaction_date_day_of_week               0
transaction_date_day_of_year               0
membership_expire_date_year                0
membership_expire_date_month               0
membership_expire_date_day                 0
membership_expire_date_day_of_week         0
membership_expire_date_day_of_year         0
discount                                   0
price_per_month                            0
members_msno                               0
members_safra                         379824
city                                       0
registered_via                             0
is_active                                  0
registration_init_time_year                0
registration_init_time_month               0
registration_init_time_day                 0
registration_init_time_day_of_week         0
registration_init_time_day_of_year         0
_filled_out_members_info                   0
is_churn                                   0
no_churn_information                       0
num_unq-2M                            148309
num_unq-1M                            148309
total_secs-2M                         148309
total_secs-1M                         148309
num_25-2M                             148309
num_25-1M                             148309
num_50-2M                             148309
num_50-1M                             148309
num_75-2M                             148309
num_75-1M                             148309
num_985-2M                            148309
num_985-1M                            148309
num_100-2M                            148309
num_100-1M                            148309
remaining_days                             0
dtype: int64

In [22]:
count = 0

def fill_out_historical_data(df: pd.DataFrame) -> pd.DataFrame:
    past_safras_to_consider = project_config.SAFRAS_TO_CONSIDER_ON_HISTORICAL_DATA

    # Key: past col
    # Value: "actual" col
    historical_cols = {}

    for col in project_config.COLUMNS_TO_GET_HISTORICAL_DATA:
        for s in past_safras_to_consider:
            historical_cols[f'{col}{s}M'] = col

    df_size = len(df)

    def __process(row: pd.Series):
        global count
        if count % 1500 == 0:
            print(f'-> {count} / {df_size}')

        count += 1

        edited = False
        for past_col, col in historical_cols.items():
            if pd.isna(row[past_col]):
                row[past_col] = int(row[col])
                edited = True

        row['_filled_out_past_info'] = edited

        return row

    df = df.apply(lambda row: __process(row), axis=1)

    return df

df = fill_out_historical_data(df)

-> 0 / 817973
-> 1500 / 817973
-> 3000 / 817973
-> 4500 / 817973
-> 6000 / 817973
-> 7500 / 817973
-> 9000 / 817973
-> 10500 / 817973
-> 12000 / 817973
-> 13500 / 817973
-> 15000 / 817973
-> 16500 / 817973
-> 18000 / 817973
-> 19500 / 817973
-> 21000 / 817973
-> 22500 / 817973
-> 24000 / 817973
-> 25500 / 817973
-> 27000 / 817973
-> 28500 / 817973
-> 30000 / 817973
-> 31500 / 817973
-> 33000 / 817973
-> 34500 / 817973
-> 36000 / 817973
-> 37500 / 817973
-> 39000 / 817973
-> 40500 / 817973
-> 42000 / 817973
-> 43500 / 817973
-> 45000 / 817973
-> 46500 / 817973
-> 48000 / 817973
-> 49500 / 817973
-> 51000 / 817973
-> 52500 / 817973
-> 54000 / 817973
-> 55500 / 817973
-> 57000 / 817973
-> 58500 / 817973
-> 60000 / 817973
-> 61500 / 817973
-> 63000 / 817973
-> 64500 / 817973
-> 66000 / 817973
-> 67500 / 817973
-> 69000 / 817973
-> 70500 / 817973
-> 72000 / 817973
-> 73500 / 817973
-> 75000 / 817973
-> 76500 / 817973
-> 78000 / 817973
-> 79500 / 817973
-> 81000 / 817973
-> 82500 / 817973
-> 84000 / 817973
-> 85500 / 817973
-> 87000 / 817973
-> 88500 / 817973
-> 90000 / 817973
-> 91500 / 817973
-> 93000 / 817973
-> 94500 / 817973
-> 96000 / 817973
-> 97500 / 817973
-> 99000 / 817973
-> 100500 / 817973
-> 102000 / 817973
-> 103500 / 817973
-> 105000 / 817973
-> 106500 / 817973
-> 108000 / 817973
-> 109500 / 817973
-> 111000 / 817973
-> 112500 / 817973
-> 114000 / 817973
-> 115500 / 817973
-> 117000 / 817973
-> 118500 / 817973
-> 120000 / 817973
-> 121500 / 817973
-> 123000 / 817973
-> 124500 / 817973
-> 126000 / 817973
-> 127500 / 817973
-> 129000 / 817973
-> 130500 / 817973
-> 132000 / 817973
-> 133500 / 817973
-> 135000 / 817973
-> 136500 / 817973
-> 138000 / 817973
-> 139500 / 817973
-> 141000 / 817973
-> 142500 / 817973
-> 144000 / 817973
-> 145500 / 817973
-> 147000 / 817973
-> 148500 / 817973
-> 150000 / 817973
-> 151500 / 817973
-> 153000 / 817973
-> 154500 / 817973
-> 156000 / 817973
-> 157500 / 817973
-> 159000 / 817973
-> 160500 / 817973
-> 162000 / 817973
-> 163500 / 817973
-> 165000 / 817973
-> 166500 / 817973
-> 168000 / 817973
-> 169500 / 817973
-> 171000 / 817973
-> 172500 / 817973
-> 174000 / 817973
-> 175500 / 817973
-> 177000 / 817973
-> 178500 / 817973
-> 180000 / 817973
-> 181500 / 817973
-> 183000 / 817973
-> 184500 / 817973
-> 186000 / 817973
-> 187500 / 817973
-> 189000 / 817973
-> 190500 / 817973
-> 192000 / 817973
-> 193500 / 817973
-> 195000 / 817973
-> 196500 / 817973
-> 198000 / 817973
-> 199500 / 817973
-> 201000 / 817973
-> 202500 / 817973
-> 204000 / 817973
-> 205500 / 817973
-> 207000 / 817973
-> 208500 / 817973
-> 210000 / 817973
-> 211500 / 817973
-> 213000 / 817973
-> 214500 / 817973
-> 216000 / 817973
-> 217500 / 817973
-> 219000 / 817973
-> 220500 / 817973
-> 222000 / 817973
-> 223500 / 817973
-> 225000 / 817973
-> 226500 / 817973
-> 228000 / 817973
-> 229500 / 817973
-> 231000 / 817973
-> 232500 / 817973
-> 234000 / 817973
-> 235500 / 817973
-> 237000 / 817973
-> 238500 / 817973
-> 240000 / 817973
-> 241500 / 817973
-> 243000 / 817973
-> 244500 / 817973
-> 246000 / 817973
-> 247500 / 817973
-> 249000 / 817973
-> 250500 / 817973
-> 252000 / 817973
-> 253500 / 817973
-> 255000 / 817973
-> 256500 / 817973
-> 258000 / 817973
-> 259500 / 817973
-> 261000 / 817973
-> 262500 / 817973
-> 264000 / 817973
-> 265500 / 817973
-> 267000 / 817973
-> 268500 / 817973
-> 270000 / 817973
-> 271500 / 817973
-> 273000 / 817973
-> 274500 / 817973
-> 276000 / 817973
-> 277500 / 817973
-> 279000 / 817973
-> 280500 / 817973
-> 282000 / 817973
-> 283500 / 817973
-> 285000 / 817973
-> 286500 / 817973
-> 288000 / 817973
-> 289500 / 817973
-> 291000 / 817973
-> 292500 / 817973
-> 294000 / 817973
-> 295500 / 817973
-> 297000 / 817973
-> 298500 / 817973
-> 300000 / 817973
-> 301500 / 817973
-> 303000 / 817973
-> 304500 / 817973
-> 306000 / 817973
-> 307500 / 817973
-> 309000 / 817973
-> 310500 / 817973
-> 312000 / 817973
-> 313500 / 817973
-> 315000 / 817973
-> 316500 / 817973
-> 318000 / 817973
-> 319500 / 817973
-> 321000 / 817973
-> 322500 / 817973
-> 324000 / 817973
-> 325500 / 817973
-> 327000 / 817973
-> 328500 / 817973
-> 330000 / 817973
-> 331500 / 817973
-> 333000 / 817973
-> 334500 / 817973
-> 336000 / 817973
-> 337500 / 817973
-> 339000 / 817973
-> 340500 / 817973
-> 342000 / 817973
-> 343500 / 817973
-> 345000 / 817973
-> 346500 / 817973
-> 348000 / 817973
-> 349500 / 817973
-> 351000 / 817973
-> 352500 / 817973
-> 354000 / 817973
-> 355500 / 817973
-> 357000 / 817973
-> 358500 / 817973
-> 360000 / 817973
-> 361500 / 817973
-> 363000 / 817973
-> 364500 / 817973
-> 366000 / 817973
-> 367500 / 817973
-> 369000 / 817973
-> 370500 / 817973
-> 372000 / 817973
-> 373500 / 817973
-> 375000 / 817973
-> 376500 / 817973
-> 378000 / 817973
-> 379500 / 817973
-> 381000 / 817973
-> 382500 / 817973
-> 384000 / 817973
-> 385500 / 817973
-> 387000 / 817973
-> 388500 / 817973
-> 390000 / 817973
-> 391500 / 817973
-> 393000 / 817973
-> 394500 / 817973
-> 396000 / 817973
-> 397500 / 817973
-> 399000 / 817973
-> 400500 / 817973
-> 402000 / 817973
-> 403500 / 817973
-> 405000 / 817973
-> 406500 / 817973
-> 408000 / 817973
-> 409500 / 817973
-> 411000 / 817973
-> 412500 / 817973
-> 414000 / 817973
-> 415500 / 817973
-> 417000 / 817973
-> 418500 / 817973
-> 420000 / 817973
-> 421500 / 817973
-> 423000 / 817973
-> 424500 / 817973
-> 426000 / 817973
-> 427500 / 817973
-> 429000 / 817973
-> 430500 / 817973
-> 432000 / 817973
-> 433500 / 817973
-> 435000 / 817973
-> 436500 / 817973
-> 438000 / 817973
-> 439500 / 817973
-> 441000 / 817973
-> 442500 / 817973
-> 444000 / 817973
-> 445500 / 817973
-> 447000 / 817973
-> 448500 / 817973
-> 450000 / 817973
-> 451500 / 817973
-> 453000 / 817973
-> 454500 / 817973
-> 456000 / 817973
-> 457500 / 817973
-> 459000 / 817973
-> 460500 / 817973
-> 462000 / 817973
-> 463500 / 817973
-> 465000 / 817973
-> 466500 / 817973
-> 468000 / 817973
-> 469500 / 817973
-> 471000 / 817973
-> 472500 / 817973
-> 474000 / 817973
-> 475500 / 817973
-> 477000 / 817973
-> 478500 / 817973
-> 480000 / 817973
-> 481500 / 817973
-> 483000 / 817973
-> 484500 / 817973
-> 486000 / 817973
-> 487500 / 817973
-> 489000 / 817973
-> 490500 / 817973
-> 492000 / 817973
-> 493500 / 817973
-> 495000 / 817973
-> 496500 / 817973
-> 498000 / 817973
-> 499500 / 817973
-> 501000 / 817973
-> 502500 / 817973
-> 504000 / 817973
-> 505500 / 817973
-> 507000 / 817973
-> 508500 / 817973
-> 510000 / 817973
-> 511500 / 817973
-> 513000 / 817973
-> 514500 / 817973
-> 516000 / 817973
-> 517500 / 817973
-> 519000 / 817973
-> 520500 / 817973
-> 522000 / 817973
-> 523500 / 817973
-> 525000 / 817973
-> 526500 / 817973
-> 528000 / 817973
-> 529500 / 817973
-> 531000 / 817973
-> 532500 / 817973
-> 534000 / 817973
-> 535500 / 817973
-> 537000 / 817973
-> 538500 / 817973
-> 540000 / 817973
-> 541500 / 817973
-> 543000 / 817973
-> 544500 / 817973
-> 546000 / 817973
-> 547500 / 817973
-> 549000 / 817973
-> 550500 / 817973
-> 552000 / 817973
-> 553500 / 817973
-> 555000 / 817973
-> 556500 / 817973
-> 558000 / 817973
-> 559500 / 817973
-> 561000 / 817973
-> 562500 / 817973
-> 564000 / 817973
-> 565500 / 817973
-> 567000 / 817973
-> 568500 / 817973
-> 570000 / 817973
-> 571500 / 817973
-> 573000 / 817973
-> 574500 / 817973
-> 576000 / 817973
-> 577500 / 817973
-> 579000 / 817973
-> 580500 / 817973
-> 582000 / 817973
-> 583500 / 817973
-> 585000 / 817973
-> 586500 / 817973
-> 588000 / 817973
-> 589500 / 817973
-> 591000 / 817973
-> 592500 / 817973
-> 594000 / 817973
-> 595500 / 817973
-> 597000 / 817973
-> 598500 / 817973
-> 600000 / 817973
-> 601500 / 817973
-> 603000 / 817973
-> 604500 / 817973
-> 606000 / 817973
-> 607500 / 817973
-> 609000 / 817973
-> 610500 / 817973
-> 612000 / 817973
-> 613500 / 817973
-> 615000 / 817973
-> 616500 / 817973
-> 618000 / 817973
-> 619500 / 817973
-> 621000 / 817973
-> 622500 / 817973
-> 624000 / 817973
-> 625500 / 817973
-> 627000 / 817973
-> 628500 / 817973
-> 630000 / 817973
-> 631500 / 817973
-> 633000 / 817973
-> 634500 / 817973
-> 636000 / 817973
-> 637500 / 817973
-> 639000 / 817973
-> 640500 / 817973
-> 642000 / 817973
-> 643500 / 817973
-> 645000 / 817973
-> 646500 / 817973
-> 648000 / 817973
-> 649500 / 817973
-> 651000 / 817973
-> 652500 / 817973
-> 654000 / 817973
-> 655500 / 817973
-> 657000 / 817973
-> 658500 / 817973
-> 660000 / 817973
-> 661500 / 817973
-> 663000 / 817973
-> 664500 / 817973
-> 666000 / 817973
-> 667500 / 817973
-> 669000 / 817973
-> 670500 / 817973
-> 672000 / 817973
-> 673500 / 817973
-> 675000 / 817973
-> 676500 / 817973
-> 678000 / 817973
-> 679500 / 817973
-> 681000 / 817973
-> 682500 / 817973
-> 684000 / 817973
-> 685500 / 817973
-> 687000 / 817973
-> 688500 / 817973
-> 690000 / 817973
-> 691500 / 817973
-> 693000 / 817973
-> 694500 / 817973
-> 696000 / 817973
-> 697500 / 817973
-> 699000 / 817973
-> 700500 / 817973
-> 702000 / 817973
-> 703500 / 817973
-> 705000 / 817973
-> 706500 / 817973
-> 708000 / 817973
-> 709500 / 817973
-> 711000 / 817973
-> 712500 / 817973
-> 714000 / 817973
-> 715500 / 817973
-> 717000 / 817973
-> 718500 / 817973
-> 720000 / 817973
-> 721500 / 817973
-> 723000 / 817973
-> 724500 / 817973
-> 726000 / 817973
-> 727500 / 817973
-> 729000 / 817973
-> 730500 / 817973
-> 732000 / 817973
-> 733500 / 817973
-> 735000 / 817973
-> 736500 / 817973
-> 738000 / 817973
-> 739500 / 817973
-> 741000 / 817973
-> 742500 / 817973
-> 744000 / 817973
-> 745500 / 817973
-> 747000 / 817973
-> 748500 / 817973
-> 750000 / 817973
-> 751500 / 817973
-> 753000 / 817973
-> 754500 / 817973
-> 756000 / 817973
-> 757500 / 817973
-> 759000 / 817973
-> 760500 / 817973
-> 762000 / 817973
-> 763500 / 817973
-> 765000 / 817973
-> 766500 / 817973
-> 768000 / 817973
-> 769500 / 817973
-> 771000 / 817973
-> 772500 / 817973
-> 774000 / 817973
-> 775500 / 817973
-> 777000 / 817973
-> 778500 / 817973
-> 780000 / 817973
-> 781500 / 817973
-> 783000 / 817973
-> 784500 / 817973
-> 786000 / 817973
-> 787500 / 817973
-> 789000 / 817973
-> 790500 / 817973
-> 792000 / 817973
-> 793500 / 817973
-> 795000 / 817973
-> 796500 / 817973
-> 798000 / 817973
-> 799500 / 817973
-> 801000 / 817973
-> 802500 / 817973
-> 804000 / 817973
-> 805500 / 817973
-> 807000 / 817973
-> 808500 / 817973
-> 810000 / 817973
-> 811500 / 817973
-> 813000 / 817973
-> 814500 / 817973
-> 816000 / 817973
-> 817500 / 817973

In [23]:
def print_cols_and_historical_cols(df: pd.DataFrame):
    cols = ['_filled_out_past_info']
    for col in project_config.COLUMNS_TO_GET_HISTORICAL_DATA:
        cols.append(col)

        for sfr in project_config.SAFRAS_TO_CONSIDER_ON_HISTORICAL_DATA:
            cols.append(f'{col}{sfr}M')

    return df[cols]

print_cols_and_historical_cols(df).head().T

,0,1,2,3,4
_filled_out_past_info,True,True,False,False,False
num_unq,488,979,696,642,545
num_unq-2M,488.0000,979.0000,488.0000,979.0000,707.0000
num_unq-1M,488.0000,979.0000,979.0000,696.0000,791.0000
total_secs,148668,256812,157868,156533,133337
total_secs-2M,148668.0000,256812.0000,148668.0000,256812.0000,173410.0000
total_secs-1M,148668.0000,256812.0000,256812.0000,157868.0000,190726.0000
num_25,128,193,135,116,59
num_25-2M,128.0000,193.0000,128.0000,193.0000,53.0000
num_25-1M,128.0000,193.0000,193.0000,135.0000,32.0000
num_50,71,88,69,61,23
num_50-2M,71.0000,88.0000,71.0000,88.0000,28.0000
num_50-1M,71.0000,88.0000,88.0000,69.0000,12.0000
num_75,50,98,78,58,11
num_75-2M,50.0000,98.0000,50.0000,98.0000,18.0000
num_75-1M,50.0000,98.0000,98.0000,78.0000,14.0000
num_985,101,142,147,114,21
num_985-2M,101.0000,142.0000,101.0000,142.0000,19.0000
num_985-1M,101.0000,142.0000,142.0000,147.0000,20.0000
num_100,470,855,438,468,520
num_100-2M,470.0000,855.0000,470.0000,855.0000,665.0000
num_100-1M,470.0000,855.0000,855.0000,438.0000,755.0000

In [24]:
# Treating DF
df.isna().sum().T

cost                                       0
msno                                       0
safra                                      0
num_25                                     0
num_50                                     0
num_75                                     0
num_985                                    0
num_100                                    0
num_unq                                    0
total_secs                                 0
total_hours                                0
msno_1                                     0
payment_method_id                          0
payment_plan_days                          0
plan_list_price                            0
actual_amount_paid                         0
is_auto_renew                              0
is_cancel                                  0
safra_1                                    0
transaction_date_year                      0
transaction_date_month                     0
transaction_date_day                       0
transaction_date_day_of_week               0
transaction_date_day_of_year               0
membership_expire_date_year                0
membership_expire_date_month               0
membership_expire_date_day                 0
membership_expire_date_day_of_week         0
membership_expire_date_day_of_year         0
discount                                   0
price_per_month                            0
members_msno                               0
members_safra                         379824
city                                       0
registered_via                             0
is_active                                  0
registration_init_time_year                0
registration_init_time_month               0
registration_init_time_day                 0
registration_init_time_day_of_week         0
registration_init_time_day_of_year         0
_filled_out_members_info                   0
is_churn                                   0
no_churn_information                       0
num_unq-2M                                 0
num_unq-1M                                 0
total_secs-2M                              0
total_secs-1M                              0
num_25-2M                                  0
num_25-1M                                  0
num_50-2M                                  0
num_50-1M                                  0
num_75-2M                                  0
num_75-1M                                  0
num_985-2M                                 0
num_985-1M                                 0
num_100-2M                                 0
num_100-1M                                 0
remaining_days                             0
_filled_out_past_info                      0
dtype: int64

In [25]:
df = DATA_PROCESSOR_UTILS.process_categories(df)

Adicionando coluna payment_method_id_0
Adicionando coluna payment_method_id_1
Adicionando coluna payment_method_id_2
Adicionando coluna payment_method_id_3
Adicionando coluna payment_method_id_4
Adicionando coluna payment_method_id_5
Adicionando coluna payment_method_id_6
Adicionando coluna payment_method_id_7
Adicionando coluna payment_method_id_8
Adicionando coluna payment_method_id_9
Adicionando coluna payment_method_id_13
Adicionando coluna payment_method_id_22
Adicionando coluna payment_method_id_24
Adicionando coluna payment_method_id_25
Adicionando coluna city_0
Adicionando coluna city_2
Adicionando coluna registered_via_0
Adicionando coluna registered_via_1
Adicionando coluna registered_via_2
Adicionando coluna registered_via_5
Adicionando coluna registered_via_6
Adicionando coluna registered_via_8
Adicionando coluna registered_via_10
Adicionando coluna registered_via_11
Adicionando coluna registered_via_12
Adicionando coluna registered_via_14
Adicionando coluna registered_via_15
Adicionando coluna registered_via_16
Adicionando coluna registered_via_17
Adicionando coluna registered_via_18
Adicionando coluna registered_via_19

In [26]:
df = DATA_PROCESSOR_UTILS.split_safras(df)

In [27]:
df_to_predict = df[project_config.COLUMNS_USED_ON_TRAIN_AND_PREDICTION]

In [28]:
df_to_predict.head()

,registration_init_time_day,registration_init_time_day_of_year,registration_init_time_year,transaction_date_day,transaction_date_day_of_week,transaction_date_day_of_year,transaction_date_month,membership_expire_date_day,membership_expire_date_day_of_year,membership_expire_date_month,...,payment_method_id_38,payment_method_id_39,payment_method_id_4,payment_method_id_40,payment_method_id_41,payment_method_id_5,payment_method_id_6,payment_method_id_7,payment_method_id_8,payment_method_id_9
0,8,159,2014,16,2,321,11,15,350,12,...,False,False,False,False,True,False,False,False,False,False
1,8,159,2014,15,3,350,12,15,15,1,...,False,False,False,False,True,False,False,False,False,False
2,8,159,2014,15,6,15,1,15,46,2,...,False,False,False,False,True,False,False,False,False,False
3,8,159,2014,15,2,46,2,15,74,3,...,False,False,False,False,True,False,False,False,False,False
4,18,322,2010,30,2,335,11,19,19,1,...,False,True,False,False,False,False,False,False,False,False

In [29]:
from sklearn.ensemble import RandomForestClassifier

model: RandomForestClassifier = joblib.load(project_config.SELECTED_MODEL)
print(f'Carregado modelo {project_config.SELECTED_MODEL}: {model}')

Carregado modelo ./models/random_forest_model_2025-03-24-21h-56m.joblib: RandomForestClassifier(bootstrap=False, max_depth=30, max_features='log2',
                       min_samples_split=10, random_state=42)

In [30]:
predicted_is_churn = model.predict(df_to_predict)
predicted_is_churn_proba = model.predict_proba(df_to_predict)

In [31]:
predicted_is_churn[:5], predicted_is_churn_proba[:5, 0]

(array([False,  True,  True,  True,  True]),
 array([0.68328901, 0.38254762, 0.39217147, 0.44840322, 0.        ]))

In [32]:
df['predicted_is_churn'] = predicted_is_churn

df['predicted_is_churn_proba_false'] = predicted_is_churn_proba[:, 0]
df['predicted_is_churn_proba_true'] = predicted_is_churn_proba[:, 1]

In [33]:
df.head()

,cost,msno,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_hours,...,registered_via_15,registered_via_16,registered_via_17,registered_via_18,registered_via_19,safra_year,safra_month,predicted_is_churn,predicted_is_churn_proba_false,predicted_is_churn_proba_true
0,67.3556,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,128,71,50,101,470,488,148668,41.2967,...,False,False,False,False,False,2016.0000,11.0000,False,0.6833,0.3167
1,80.6741,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,193,88,98,142,855,979,256812,71.3367,...,False,False,False,False,False,2016.0000,12.0000,True,0.3825,0.6175
2,69.3364,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,135,69,78,147,438,696,157868,43.8522,...,False,False,False,False,False,2017.0000,1.0000,True,0.3922,0.6078
3,68.9275,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,116,61,58,114,468,642,156533,43.4814,...,False,False,False,False,False,2017.0000,2.0000,True,0.4484,0.5516
4,66.1132,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,59,23,11,21,520,545,133337,37.0381,...,False,False,False,False,False,2016.0000,11.0000,True,0.0000,1.0000

In [34]:
DUCK_DB.create_database_table(
    df, PREDICTED_DATA_TABLE
)

In [35]:
DUCK_DB.truncate_table(
    PREDICTED_DATA_TABLE
)

In [36]:
DUCK_DB.upload_dataframe_to_duck_db(
    df, PREDICTED_DATA_TABLE
)

2025-03-26 20:57:27.581372 Inserindo 817973 registros na tabela predicted_dataset_2025_03_26_20h52m

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2025-03-26 20:57:30.870320 Inseridos com sucesso

In [37]:
# DUCK_DB_UTILS.get_connection().close()

In [38]:
DUCK_DB.commit()